<%
  existing_crop = @workspace.logo.blob.metadata["crop"] || {}
%>

<%= turbo_stream.replace "modal-body" do %>
  <div id="modal-body" class="px-6 py-4 overflow-y-auto flex-1">
    <%= render "shared/image_crop",
          image: @workspace.logo,
          aspect_ratio: 1.0,
          shape: :circle,
          save_url: save_crop_workspace_branding_path(@workspace),
          cancel_url: edit_workspace_branding_path(@workspace),
          existing_crop: existing_crop,
          compact: true,
          title: t("workspaces.brandings.crop.title") %>
  </div>
<% end %>
