<%= turbo_stream.replace "theme-controller" do %>
  <div id="theme-controller"
       data-controller="theme"
       data-theme-theme-value="<%= Current.user.preferences&.theme || 'system' %>">
  </div>
<% end %>
